:root {
    --main: #03c3ac;
    --second: #2e4c66;
}

body {
  font-family: "IBM Plex Sans Arabic", serif;
}

.page-banner .breadcrumbs-area ul li {
    display: inline-block;
    position: relative;
    margin-right: rem(15px);
    padding-right: rem(5px);
    color: #cecece;
    font-size: rem(18px);
}
.page-banner .breadcrumbs-area ul li:before {
    content: "/";
    position: absolute;
    font-size: rem(18px);
    right: rem(-11px);
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    color: #cecece;
}
.page-banner .breadcrumbs-area ul li a {
    color: #ededed;
    transition: all 0.5s ease-in-out;
}
.page-banner .breadcrumbs-area ul li a:hover {
    color: #ededed;
}
.page-banner .breadcrumbs-area ul li:last-child {
    margin-right: 0;
    padding-right: 0;
}
.page-banner .breadcrumbs-area ul li:last-child:before {
    display: none;
}
.btn-primary {
    color: #fff;
    background-color: var(--second);
    border-color: var(--second);
}
.contact-page-section {
    padding-top: 50px;
    position: relative;
    margin-bottom: 40px;
}
.contact-page-section .inner-container {
    position: relative;
    z-index: 1;
    background-color: var(--main);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}
.contact-page-section .inner-container.bg-white {
    background-color: #fff;
}
.contact-page-section .form-column {
    position: relative;
    padding: 0;
}
.contact-page-section .form-column .inner-column {
    position: relative;
    padding: 60px 45px 30px;
    background-color: #fff;
}
.contact-page-section .info-column {
    position: relative;
}
.contact-page-section .info-column .inner-column {
    position: relative;
    padding: 60px 35px;
}
.contact-page-section .info-column h2 {
    position: relative;
    color: #222;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4em;
    margin-bottom: 45px;
}
.contact-page-section .info-column .list-info {
    position: relative;
    margin-bottom: 60px;
}
.contact-page-section .info-column .list-info li {
    position: relative;
    margin-bottom: 25px;
    font-size: 18px;
    color: #fff;
    line-height: 1.8em;
    padding-left: 45px;
}
.contact-page-section .info-column .list-info li:last-child {
    margin-bottom: 0;
}
.contact-page-section .info-column .list-info li .icon {
    position: absolute;
    left: 0;
    top: 8px;
    color: #222;
    font-size: 30px;
}
.contact-form {
    position: relative;
}
.contact-form > h4 {
    margin-bottom: 20px;
}
.contact-form .form-group {
    position: relative;
    padding-bottom: 20px;
}
.g-recaptcha {
    position: relative;
    z-index: 5;
}
.g-recaptcha > div {
    height: 0 !important;
}
.g-recaptcha > div > div {
    height: 0 !important;
}
.mobile-number {
    position: relative;
}
.mobile-number .number-mark-right {
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 19px;
    margin: 0 10px;
}
.contact-form select,
.contact-form input,
.contact-form textarea {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    color: #222;
    font-size: 14px;
    line-height: 38px;
    padding: 10px 30px;
    border: 1px solid #ddd;
    background-color: #fff;
    transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    border-radius: 5px;
    text-align: right;
}

.form-check-container .form-check-inline {
    position: relative;
    padding-right: 30px;
}
.form-check-container .form-check-inline img {
    width: 19px;
}
.contact-form input[type="radio"] {
    width: 20px;
    padding: 7px;
    height: 20px;
    margin: 0 4px;
    position: absolute;
    right: 0;
    top: 4px;
}
.contact-form .select2.select2-container .select2-selection,
.contact-form .select2.select2-container .select2-selection .select2-selection__rendered,
.contact-form .select2.select2-container .select2-selection .select2-selection__arrow {
    height: 60px;
    line-height: 60px;
}
.contact-form label {
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 8px;
}
.contact-form label span,
.contact-form .required-icon {
    color: red;
}
.hint-form-header {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ededed;
    margin-bottom: 20px;
    justify-content: space-between;
    z-index: 9;
    position: relative;
    text-align: start;
}
.banner-column img {
    width: 100%;
}
.hint-form-header p {
    width: 500px;
    max-width: calc(100% - 100px);
    color: #af0000;
    text-align: start;
}
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    border-color: var(--main);
}
.contact-form textarea {
    height: 250px;
    resize: none;
}
.contact-form .theme-btn {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: capitalize;
    padding: 16px 39px;
}
.contact-form input.error,
.contact-form select.error,
.contact-form textarea.error {
    border-color: red !important;
}
.contact-form label.error {
    display: block;
    line-height: 27px;
    padding: 5px 0 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    color: red;
    font-weight: 500;
}
.contact-form .inner-container label.error {
    position: absolute;
    bottom: -1px;
}
.contact-form .inner-container label#g-recaptcha-response-error.error,
.contact-form .inner-container label#facility_bank_accounts-error.error {
    position: relative;
    top: -14px;
}
.contact-form label.large-label {
    margin-bottom: -13px !important;
    position: relative;
    top: -16px;
    display: block;
}
.contact-page-section .info-column {
    position: relative;
}
.contact-page-section .info-column .inner-column {
    position: relative;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.contact-page-section .info-column h2 {
    position: relative;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.4em;
    margin-bottom: 25px;
}
.contact-page-section .info-column .list-info {
    position: relative;
    margin-bottom: 60px;
    padding: 0;
}
.contact-page-section .info-column .list-info li {
    position: relative;
    margin-bottom: 25px;
    font-size: 16px;
    color: #fff;
    line-height: 1.8em;
    list-style: none;
}
.contact-page-section .info-column .list-info li img {
    position: absolute;
    top: 5px;
    width: 20px;
}
.contact-page-section .info-column .list-info li:last-child {
    margin-bottom: 0;
}
.contact-page-section .info-column .list-info li .icon {
    position: absolute;
    left: 0;
    top: 8px;
    color: #222;
    font-size: 30px;
}
.contact-page-section .info-column .list-info li img {
    right: 0;
}
.contact-page-section .info-column .list-info li {
    padding-right: 30px;
    padding-left: 0;
}
.social-icon-four {
    position: relative;
    padding: 0;
}
.social-icon-four li {
    position: relative;
    margin-right: 18px;
    display: inline-block;
}
.social-icon-four li.follow {
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    display: block;
    margin-bottom: 20px;
}
.social-icon-four li a {
    position: relative;
    font-size: 20px;
    color: #fff;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}
.social-icon-four li a:hover {
    color: #222;
}
div.wpforms-container-full .wpforms-field.wpforms-field-checkbox ul li {
    margin: 0 !important;
    justify-content: center;
}
div.wpforms-container-full .wpforms-field.wpforms-field-checkbox ul li a {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    gap: 14px;
}
div.wpforms-container-full .wpforms-field.wpforms-field-checkbox ul li a svg {
    fill: var(--main);
}
.item-services-container {
    width: 20%;
}
.services-container {
    padding: 50px 0 10px;
}
.services-container-course {
    background-color: #1c2e4c;
}
.services-container-course .item-services {
    text-align: center;
    margin-bottom: 20px;
    background-color: #fff;
    height: 180px;
    border-radius: 15px;
    box-shadow: 0 0 5px #ddd;
    padding-top: 30px;
}
.item-services {
    text-align: center;
    margin-bottom: 20px;
}
.item-services img {
    height: 65px;
    margin-bottom: 10px;
}
.item-services h5 {
    font-size: 18px !important;
}
.item-services p {
    font-size: 14px;
}
.timer-section {
    background-color: #e6e6e6;
    text-align: center;
    padding: 40px 15px;
}
.clockdiv {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.clockdiv .item-section {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 5px #c3c3c3;
    min-width: 60px;
}
.smalltext {
    font-size: 15px;
}
.course-container .card {
    margin-bottom: 15px;
    position: relative;
}
.course-container .card .icons-header {
    position: absolute;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    gap: 5px;
    padding: 5px;
}
.course-container .card .icons-header span {
    background-color: var(--second);
    padding: 4px 10px;
    border-radius: 5px;
}
.course-container .card .icons-header img {
    height: 20px;
}
.course-container .card .card-img-top {
    height: 200px;
}
.course-container .card h5 {
    font-size: 19px;
}
.course-container .card .card-text {
    font-size: 14px;
    height: 71px;
    overflow: hidden;
}
.color-theme {
    color: var(--main) !important;
    text-align: center;
}
.price {
    display: block;
    text-align: end;
}
.price .old-price {
    text-decoration: line-through;
    color: #999;
    margin: 0 5px;
    font-weight: 400;
}
.price .final-price {
    color: #000;
    font-size: 19px;
}
@media only screen and (max-width: 991px) {
    .item-services-container {
        width: 50%;
    }
}
div.wpforms-container-full .wpforms-field.wpforms-field-checkbox ul li {
    margin: 0 !important;
    justify-content: center;
}
div.wpforms-container-full .wpforms-field.wpforms-field-checkbox ul li a {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    gap: 14px;
}
div.wpforms-container-full .wpforms-field.wpforms-field-checkbox ul li a svg {
    fill: var(--main);
}
.item-services-container {
    width: 20%;
}
.services-container {
    padding: 50px 0 10px;
}
.services-container-course {
    background-color: #1c2e4c;
}
.services-container-course .item-services {
    text-align: center;
    margin-bottom: 20px;
    background-color: #fff;
    height: 180px;
    border-radius: 15px;
    box-shadow: 0 0 5px #ddd;
    padding-top: 30px;
}
.item-services {
    text-align: center;
    margin-bottom: 20px;
}
.item-services img {
    height: 65px;
    margin-bottom: 10px;
}
.item-services h5 {
    font-size: 18px !important;
}
.item-services p {
    font-size: 14px;
}
.timer-section {
    background-color: #e6e6e6;
    text-align: center;
    padding: 40px 15px;
    position: relative;
    height: 400px;
}
.clockdiv {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.clockdiv .item-section {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 5px #c3c3c3;
    min-width: 65px;
}
.clockdiv .item-section span {
    font-size: 25px;
}
.course-container .card {
    margin-bottom: 15px;
}
.course-container .card .card-img-top {
    height: 200px;
}
.course-container .card h5 {
    font-size: 19px;
}
.course-container .card .card-text {
    font-size: 14px;
    height: 71px;
    overflow: hidden;
}
.color-theme {
    color: var(--main) !important;
    text-align: center;
}
.btn-theme {
    background-color: var(--main);
    color: #fff;
    height: 50px;
    border-radius: 5px;
}

@media only screen and (max-width: 991px) {
    .contact-form label {
        width: 100%;
    }
    .main-banner-wrap-layout2 {
        padding-top: 0;
    }
    .main-banner-box-layout2 .item-figure {
        padding: 0 0%;
    }
    .form-check-inline {
        display: block;
    }
}
@media only screen and (max-width: 991px) {
    .item-services-container {
        width: 100%;
    }
}
[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}
[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: #2563eb;
}
[type="checkbox"],
[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    --tw-shadow: 0 0 #0000;
}
[type="checkbox"] {
    border-radius: 0;
}
[type="radio"] {
    border-radius: 100%;
}
[type="checkbox"]:checked:hover,
[type="checkbox"]:checked:focus,
[type="radio"]:checked:hover,
[type="radio"]:checked:focus {
    border-color: transparent;
    background-color: currentColor;
}
[type="checkbox"]:indeterminate {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
[type="checkbox"]:indeterminate:hover,
[type="checkbox"]:indeterminate:focus {
    border-color: transparent;
    background-color: currentColor;
}
.rounded-md {
    border-radius: 0.375rem;
}
.rounded {
    border-radius: 0.25rem;
}
.rounded-l-md {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}
.rounded-r-md {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}
.border {
    border-width: 1px;
}
.border-b {
    border-bottom-width: 1px;
}
.border-t {
    border-top-width: 1px;
}
.border-r {
    border-right-width: 1px;
}
.border-b-2 {
    border-bottom-width: 2px;
}
.border-l-4 {
    border-left-width: 4px;
}
.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.border-gray-400 {
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--tw-border-opacity));
}
.border-indigo-400 {
    --tw-border-opacity: 1;
    border-color: rgb(129 140 248 / var(--tw-border-opacity));
}
.border-transparent {
    border-color: transparent;
}
.border-blue-500 {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity));
}
.border-red-500 {
    --tw-border-opacity: 1;
    border-color: rgb(239 68 68 / var(--tw-border-opacity));
}
.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
}
.hover\:border-gray-300:hover {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.hover\:border-transparent:hover {
    border-color: transparent;
}
.focus\:border-blue-300:focus {
    --tw-border-opacity: 1;
    border-color: rgb(147 197 253 / var(--tw-border-opacity));
}
.focus\:border-indigo-700:focus {
    --tw-border-opacity: 1;
    border-color: rgb(67 56 202 / var(--tw-border-opacity));
}
.focus\:border-gray-300:focus {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.focus\:border-indigo-300:focus {
    --tw-border-opacity: 1;
    border-color: rgb(165 180 252 / var(--tw-border-opacity));
}
.focus\:border-transparent:focus {
    border-color: transparent;
}
.focus\:border-gray-900:focus {
    --tw-border-opacity: 1;
    border-color: rgb(17 24 39 / var(--tw-border-opacity));
}
.sm\:rounded-lg {
    border-radius: 0.5rem;
}
.text-red-600 {
    --tw-text-opacity: 1;
    color: rgb(220 38 38 / var(--tw-text-opacity));
}
.input-form.error {
    border: 1px solid red;
}
.error_sms {
    color: #cc1616;
    background-color: #dc35451a;
    font-size: 0.8rem;
    padding: 3px 9px;
    border-radius: 3px;
    width: 100%;
    display: none;
}

.courses {
    padding: 80px 0;
}
.courses .main-title h4 {
    font-size: 30px;
    font-weight: bold;
    color: var(--second);
    pointer-events: none;
}
.courses .main-title p {
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    color: #818894;
    pointer-events: none;
}
.ul-courses {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 40px;
}
.ul-courses li {
    cursor: pointer;
    font-weight: 500;
}
.ul-courses li.active {
    border-bottom: 2px solid var(--second);
}
@media (max-width: 991px) {
    .ul-courses {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .main-title {
        width: 100%;
    }
}
.main-courses {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.main-courses .box {
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}
.main-courses .box .first {
    position: relative;
}
.main-courses .box .first span {
    position: absolute;
    background-color: var(--second);
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.29;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 15px 3px 15px 3px;
    pointer-events: none;
    -webkit-border-radius: 15px 3px 15px 3px;
    -moz-border-radius: 15px 3px 15px 3px;
    -ms-border-radius: 15px 3px 15px 3px;
    -o-border-radius: 15px 3px 15px 3px;
}
.main-courses .box .first img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.main-courses .box .sponsor {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
}
.main-courses .box .sponsor img {
    width: 60px;
}
.main-courses .box .sponsor span {
    font-weight: 500;
    color: #818894;
}
.main-courses .box .main-title {
    color: var(--second);
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
    margin: 10px 0;
}
.main-courses .box .sub-title {
    font-size: 15px;
    font-weight: 500;
    padding-right: 10px;
}
.main-courses .box .sub-title span {
    text-decoration: underline;
}
.main-courses .box .rating {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
}
.main-courses .box .rating .sub-rating {
    background-color: var(--main);
    color: #fff;
    padding: 2px 8px;
    font-size: 11px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: bold;
}
.main-courses .box .time-date {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    color: var(--second);
    font-weight: 500;
}
.main-courses .box .time-date .space {
    position: relative;
}
.main-courses .box .time-date .space::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 2px;
    height: 100%;
    background-color: #ececec;
}
.main-courses .box .price-1 {
    padding-right: 10px;
    padding-bottom: 20px;
    color: var(--second);
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}
@media (max-width: 991px) {
    .main-courses {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .main-courses {
        grid-template-columns: repeat(1, 1fr);
    }
}
.hero {
    padding: 50px 0;
}
.hero .sub-title-2 {
    position: relative;
    padding-right: 12px;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    font-weight: 500;
}
.hero .sub-title-2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: var(--main);
}
.hero h1 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 15px;
}
.hero p {
    color: #777;
    font-size: 16px;
}
.hero a {
    background-color: var(--main);
    border: none;
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    text-decoration: none;
}
.hero a:hover {
    background-color: #03c3adbd;
}
.timer-section {
    background: linear-gradient(135deg, var(--main), var(--second));
}

.clock {
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    width: 70%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    justify-content: center;
}

.clock div {
    position: relative;
    background-color: #fff;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 500;
    color: #202020;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.clock span {
    font-weight: bolder;
    font-size: 60px;
    color: #fff;
    display: flex;
    align-items: center;
}

@media (max-width: 500px) {
    .clock{
        height: 120px;
        width: 100%;
    }
    .clock div,
    .clock span {
        font-size: 40px;
    }
}
